<nav class="navbar navbar-dark background-blue">
    <a class="navbar-brand" [routerLink]="['/']">Memory-Flash</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a *ngIf="isLogged" class="nav-link" [routerLink]="['/decks/list']">See Decks</a>
        </li>
    </ul>
    <a *ngIf="!isLogged" class="text-light navbar-text" [routerLink]="['/login']">Login</a>
    <a *ngIf="!isLogged" class="text-light navbar-text margin-left" [routerLink]="['/signup']">Sign Up</a>
    <a *ngIf="isLogged" class="text-light navbar-text" [routerLink]="['/user/details']">{{ username }} Details</a>
    <a *ngIf="isLogged" class="text-light navbar-text margin-left" (click)="onLogout()">Logout</a>
</nav>
