<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Edit Deck</h5>
        </div>
        <div class="card-body">
            <form [formGroup]="deckForm" (ngSubmit)="onSubmit()">
                <label for="deckName">Name:</label>
                <input type="text" id="deck_name" class="form-control" formControlName="deck_name">
                <input type="hidden" value="1" id="creator_id" class="form-control" formControlName="creator_id">
                <button type="submit" class="btn btn-primary" [disabled]="!deckForm.valid">Add Deck</button>
            </form>
        </div>
    </div>
</div>
